{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    <script src="https://kit.fontawesome.com/53e1ad4806.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
    {% block static %} {% endblock %}
</head>
{% block content %}
<body>
    <div class="cards">
        <div class="card one">
            <div class="text text-one">
                <h3>Las</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt? Fugit assumenda nemo eos neque doloremque iure dolorum nihil blanditiis aliquam, placeat voluptatibus consequuntur possimus, corporis aspernatur temporibus optio ducimus.</p>
            </div>
        </div>
        <div class="card two">
            <div class="text text-two">
                <h3>Pustynia</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt? Fugit assumenda nemo eos neque doloremque iure dolorum nihil blanditiis aliquam, placeat voluptatibus consequuntur possimus, corporis aspernatur temporibus optio ducimus.</p>
            </div>
        </div>
        <div class="card three">
            <div class="text text-three">
                <h3>Góry</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt? Fugit assumenda nemo eos neque doloremque iure dolorum nihil blanditiis aliquam, placeat voluptatibus consequuntur possimus, corporis aspernatur temporibus optio ducimus.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>