{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index5.css' %}">
    <script src="https://kit.fontawesome.com/53e1ad4806.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
    {% block static %} {% endblock %}
</head>
{% block content %}
<body>
    
    <button class="slide">
        <span class="span1">slide</span>
        <span class="span2">😀</span>
    </button>
    <button class="slice">slice</button>
    <button class="hmm">hmm</button>
    <button class="border">border</button>
    <button class="glass">glass</button>

</body>
{% endblock %}
</html>